
:root{
  --main_primary_color: hsl(212, 100%, 21%);
  --card-img-color: hsl(212, 38%, 41%);
  --bg-card-blog: hsl(231, 64%, 98%);
  --card-bg-light: hsl(0, 0%, 100%);
  --paragraph-text-color: hsl(210, 4%, 89%);
  --footer-text-color: hsl(225, 48%, 76%);
  --nav-text-color: rgb(0, 0, 0);

}
html {
  scroll-behavior: smooth;
}

body{
  font-family: "Inter", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: var(--card-bg-light);
}
.section-Detail-Blog{
  background-color: var(--bg-card-blog);
  padding: 1rem;
}
.cda-head-section{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding:  7% 6% 3% 6% ;
  box-shadow: 0px 16px 32px rgba(0, 0, 0, 0.2);
  position: relative;
}
.headerContainer{
  width: 1rem;
  overflow: hidden;
  display: block;
  margin-right: 2%;
}
.input{
  display: none;
}
#hambugger{
  margin-top: 10px;
  margin-bottom: 10px;
  background-color: black;
  width: 100%;
  height: 3px;
  display: inline-block;
  position: relative;
  cursor: pointer;
}
#hambugger::before{
  margin-top: -5px;
  margin-bottom: -10px;
  background-color: black;
  width: 100%;
  height: 3px;
  display: inline-block;
  content: "";
  position: absolute;
  cursor: pointer;
}
#hambugger::after{
  margin-top: 5px;
  margin-bottom: 10px;
  background-color: black;
  width: 100%;
  height: 3px;
  display: inline-block;
  content: "";
  position: absolute;
  cursor: pointer;
}
.input:checked ~ .left-section{
  left: 0px;
  transition: all 0.3s;
}
.left-section{
  height: 1000vh;
  width: 100%;
  background-color: var(--main_primary_color);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  position: fixed;
  justify-content: flex-start;
  margin: 0px;
  top: 0px;
  left: -1200px;
  z-index: 10;
  font-size: 22px;
  padding-inline: 1.5rem;
  display: block;
  overflow-y: auto;
  transition: 1s ease;
}
.barimg{
  padding: 20px;
  width: 10rem;
}
.barimg img{
  width: 10rem;
}
.nav-buttons{
  display: none;
}
.cda-nav-links .nav-links{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 1rem;
  list-style: none;
  transition: all 0.3s;
  padding: 0;
  position: relative;
}
.close-icon{
  position: absolute;
  right: 4.2rem;
  top: 10%;
  color: var(--card-bg-light);
}
.cda-nav-links .nav-links > li > a{
  text-decoration: none;
  color: var(--card-bg-light);
  font-weight: 600;
  padding: 12px 20px;
  font-size: clamp(0.9rem, 2.5vw, 1rem);
  transition: all 0.3s;
  border-radius: 30px;
}
.cda-nav-links .nav-links > li:hover > a{
  color: var(--card-bg-light);
  text-decoration: underline;
  transition: all 0.3s;
}
.nav-buttons .btn{
  border-radius: 30px;
  font-size: clamp(0.7rem, 2.5vw, 1rem);
  font-weight: 400;
  cursor: pointer;
  transition: all 0.3s;
}
.login-btn{
  background-color: transparent;
  border: 2px solid var(--nav-text-color);
  margin-right: 1rem;
  padding: 10px 2rem;
}
.login-btn:hover{
  background-color: #f6f6f6;
  border: 2px solid #f6f6f6;
}
.signup-btn:hover{
background-color: var(--footer-text-color);
}
.login-btn:active{
  background-color: antiquewhite;
  border: 2px solid antiquewhite;
}
.signup-btn:active{
  background-color: antiquewhite;
}
.signup-btn{
  background-color: var(--main_primary_color);
  color: var(--card-bg-light);
  border: none;
  padding: 12px 2rem;
}
.hero {
  background-image: url('../assets/imgs/Frame 71.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-blend-mode: soft-light;
  position: relative;
}
.content {
  text-align: center;
  padding-top: 0.7rem;
  z-index: 2;
  position: relative;
}
.content > h1 {
  font-size: clamp(1.5rem, 2.5vw, 4rem);
  padding-inline: 5%;
  font-weight: 600;
}
.content > p {
  font-size: clamp(0.8rem, 2.5vw, 1rem);
  padding-inline: 5%;
  line-height: 1.1rem;
}
.cda-buttons {
  margin-top: 30px;
  text-align: center;
  padding-bottom: 1rem;
  z-index: 2;
  position: relative;
}
.cda-buttons .btn{
  padding-block: 12px;
  border-radius: 5px;
  border: 2px solid var(--main_primary_color);
  width: 140px;
  cursor: pointer;
  transition: all 0.3s;
}
.cda-buttons .cda-login{
  margin-right: 1rem;
  background-color: var(--main_primary_color);
  color: var(--card-bg-light);
}
.cda-buttons .cda-info-btn{
  color: var(--main_primary_color);
  font-weight: 600;
}
.cda-buttons .btn:hover{
  background-color: #8f99f8a4;
  border: 2px solid #8f99f8a4;
}
.cda-buttons .btn:active{
  border: 3px solid var(--main_primary_color);
  padding: 5px;
}
.features {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 2rem;
  text-align: center;
  align-items: center;
  margin: 1rem 1rem 3rem 1rem;
  z-index: 2;
  position: relative;
}
.features-cda {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1rem;
  text-align: center;
  align-items: center;
  z-index: 2;
  position: relative;
}

.cda-feature-cards-grid:hover {
  transform: translateY(-10px); /* Moves card upward */
  box-shadow: 0 16px 32px rgba(0, 0, 0, 0.3); /* Increases shadow */
}
.cda-feature-cards-grid{
  background-color: var(--card-bg-light);
  width: 90%;
  padding: 2rem 0.5rem;
  transition: 0.3s ease;
  cursor: pointer;
}
.cda-feature-cards-grid > p{
  font-weight: 700;
}
.section-hero {
  background-image: url('../assets/imgs/Frame 73.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size:cover;
  background-blend-mode: soft-light;
  padding-top: 5rem;
  position: relative;
}
.last-card{
  margin-top: 0;
}
.card {
  border-radius: 10px;
  width: 270px;
  z-index: 2;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  cursor: pointer;
  padding: 2% 5%;
}
.card img{
  width: 15rem;
}
.card:hover {
  transform: scale(0.95); /* Shrinks the card */
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15); /* Slight shadow on hover */
}
 .cda-cards-info-det h2 {
  margin: 20px 0px 0 0;
  color: var(--nav-text-color);
  text-align: center;
  z-index: 10;
  position: relative;
}
.cda-cards-info-det p {
  color: var(--nav-text-color);
  margin: 10px 5px;
  margin-bottom: 50px;
  text-align: left;
  z-index: 10;
  position: relative;
}
.section-title{
  text-align: center;
}
.Card-Grid{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 3rem;
}
.Detail-Title-name{
  color: var(--main_primary_color);
  font-size: clamp(2.2rem, 2.5vw, 4.2rem);
  font-weight: 600;
  margin-bottom: 0;
  margin-top: 0.5rem;
}
.Detail-Blog-Card-Grids{
  background-color: var(--card-bg-light);
  padding: 2rem 2rem 1.5rem 2rem;
  border-radius: 15px;
  box-shadow: 0px 16px 32px 2px rgba(0, 0, 0, 0.2);
  margin-inline: 0.5rem;
  cursor: pointer;
  transition: transform 0.1s ease; /* Transition for smooth rotation */
  perspective: 1000px
}
/* Make the section invisible by default */
.hidden-section {
  opacity: 0;
  transform: translateY(50px); /* Start slightly below */
  transition: opacity 0.6s ease,
  transform 1s ease-out; /* Animation properties */
}
.hidden-section.visible {
  opacity: 1;
  transform: translateY(0); /* Move to normal position */
}
.Detail-Blog{
  margin-bottom: 1.5rem;
}
.rem-space{
  margin: 1.2rem;
}
.card-blog-messg{
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  justify-content: center;
}
.Detail-Message-paragrah{
  color: var(--main_primary_color);
  margin-bottom: 2rem;
  font-size: clamp(0.8rem, 2.5vw, 1.2rem);
}
.card-snip{
  font-size: clamp(1rem, 2.5vw, 1.2rem);
  margin-bottom: 0.5rem;
}
.card-details-mssg{
  color: var(--main_primary_color);
  font-size: clamp(0.85rem, 2.5vw, 0.95rem);
  margin: 0;
  line-height: 1.2rem;
}
.mssg-card-color{
  color: var(--main_primary_color);
}
.section-blog-footer{
  background-color: var(--main_primary_color);
  background-image: url(../assets/imgs/logo.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size:100%;
  background-blend-mode: soft-light;
  padding: 1rem 5%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  position: relative;
}
.overlay{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}
.overlay-section{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.05);
}
.mssg-footer-color{
  color: var(--bg-card-blog);
}
.foot-one-details{
  padding: 0 15% 0 7%;
  width: 100%;
  position: relative;
  z-index: 1;
}
.foot-two-details{
  width: 100%;
  position: relative;
  z-index: 1;
}
.foot-three-details{
  width: 100%;
  position: relative;
  z-index: 1;
}
.foot-paragraph-mssg{
  margin-top: 1rem;
  font-size: clamp(0.85rem, 2.5vw, 0.95rem);
}
.foot-centre{
  text-align: start;
  padding: 0 15% 0 7%;
}
.foot-title{
color: var(--footer-text-color);
}
.foot-navitems{
  list-style: none;
  padding-inline-start: 0px;
}
.foot-items{
  margin-bottom: 0.8rem;
  font-size: clamp(0.85rem, 2.5vw, 0.95rem);
}
.foot-items a{
  cursor: pointer;
  text-decoration: none;
  transition: all 0.3s;
}
.foot-items a:hover{
  text-decoration:underline;
}

@media only screen and (min-width:511px) {
  .Detail-Blog-Card-Grids {
    margin-inline: 1.5rem;
}
}
@media only screen and (min-width:576px) {
  .cda-head-section {
    padding: 5% 2.5rem 2% 2.5rem;
}
.card {
  width: 30%;
  padding: 2rem;
}
.card img{
  width: 80%;
}
  .Detail-Blog-Card-Grids {
    margin-inline: 0.5rem;
}
.cda-feature-cards-grid{
  width: 40%;
  height: 8rem;
}
.cda-buttons {
  font-size: 5rem;
  padding-bottom: 3rem;
}
  .content {
    padding-top: 1.5rem;
}
  .content > h1 {
    font-size: clamp(1.5rem, 2.5vw, 4.5rem);
    padding-inline: 15%;
}
.content > p {
  font-size: clamp(0.7rem, 2.5vw, 1rem);
  padding-inline: 15%;
  line-height: 1.2rem;
  margin-bottom: 2rem;
}
.section-hero {
  background-image: url(../assets/imgs/Frame40.png);
}
.hero {
  background-image: url(../assets/imgs/landingpage.png);
}
  .section-Detail-Blog {
    padding: 0.5rem;
}
.Card-Grid{
  gap: 2rem;
}
.foot-centre{
  padding-inline: 0%;
}
  .foot-one-details{
    padding-inline: 20%;
    width: 100%;
  }
  .foot-two-details{
    width: 30%;
    padding-left: 10%;
  }
  .foot-three-details{
    width: 30%;
    padding-right: 10%;
  }
  .section-blog-footer {
    background-size: 70%;
  }
  .cda-cards-info-det p {
    text-align: left;
  }
}
@media only screen and (min-width:623px) {
  .section-Detail-Blog {
    padding: 1rem 1rem;
}
}
@media only screen and (min-width:847px) {
  .cda-feature-cards-grid{
    width: 30%;
    height: 8rem;
  }
.features-cda {
  gap: 3rem;
}
  .section-Detail-Blog {
    padding: 1rem 1rem;
}
.Card-Grid{
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  margin-inline: 2rem;
}
}
@media only screen and (min-width:907px) {
  .cda-feature-cards-grid{
    width: 15%;
    height: 8rem;
  }
  .foot-one-details{
    padding-inline: 25%;
  }
  .foot-two-details{
    width: 30%;
    padding-left: 15%;
  }
  .foot-three-details{
    width: 30%;
    padding-right: 15%;
  }
  .Detail-Blog-Card-Grids {
    margin-inline: 1rem;
}
.left-section{
  transition: 0s ease;
}
}
@media only screen and (min-width:975px) {
  .cda-head-section{
    padding: 2rem 3%;
    align-items: center;
  }
.logoNav{
  display: none;
}
  .headerContainer{
    display: none;
  }
  .content > h1 {
    font-size: clamp(2rem, 2.5vw, 5rem);
    padding-inline: 20%;
  }
  .content > p {
    font-size: clamp(0.5rem, 2.5vw, 1rem);
    padding-inline: 25%;
  }
  .content {
    padding-top: 3rem;
  }
  .left-section{
    position: inherit;
    display: flex;
    flex-direction: row;
    gap: 0rem;
    align-items: center;
    height: 12vh;
    width: initial;
    background-color: var(--card-bg-light);
    justify-content: center;
    left: 0px;
    z-index: 1;
    transition: 0s;
    overflow-y: hidden;
  }
  .cda-nav-links .nav-links{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-top: 0%;
}
.cda-nav-links .nav-links > li > a{
  color: var(--nav-text-color);
  transition: all 0.3s;
  border-radius: 30px;
}
.cda-buttons .btn {
  padding: 1rem;
  width: 200px;
  font-size: 1.2rem;
}
.nav-buttons{
  display: block;
}
.nav-links{
  margin: 0;
}
.cda-nav-links .nav-links > li:hover > a{
  color: var(--main_primary_color);
  background-color: #f6f6f6;
  text-decoration: none;
  transition: all 0.3s;
}
.cda-nav-links .nav-links > li:active > a{
  background-color: antiquewhite;
}
  .Card-Grid{
    margin-inline: 4rem;
  }
  .section-blog-footer {
    padding: 4rem 5%;
}
  .foot-one-details{
    padding-inline: 5%;
    width: 20%;
  }
  .foot-two-details{
    width: 20%;
    padding-left: 0%;
  }
  .foot-three-details{
    width: 30%;
    padding-right: 0%;
  }
}
@media only screen and (min-width:1039px) {
 
  .Card-Grid{
    margin-inline: 6rem;
  }
  .features-cda {
    gap: 5rem;
  }
  .section-blog-footer {
    background-size: 50%;
  }
}
@media only screen and (min-width:1099px) {
  .cda-feature-cards-grid{
    width: 12%;
    height: 8rem;
  }
  .cda-head-section{
    padding: 2rem 3%;
  }
  .left-section{
    gap: 2rem;
  }
  .Card-Grid{
    margin-inline: 8rem;
  }
}
@media only screen and (min-width:1167px) {
  .Card-Grid{
    margin-inline: 10rem;
  }
}
@media only screen and (min-width:1231px) {
  .cda-head-section{
    padding: 1rem 10%;
  }
  .Card-Grid{
    margin-inline: 12rem;
  }
  .content > h1 {
    font-size: 2.5rem;
    padding-inline: 20%;
}
.content > p {
  font-size: 1.3rem;
  padding-inline: 17%;
  line-height: 1.8rem;
}
}
@media only screen and (min-width:1307px) {
  .Card-Grid{
    margin-inline: 14rem;
  }
}
@media only screen and (min-width:1355px) {
  .Card-Grid{
    margin-inline: 16rem;
  }
  .content > h1 {
    padding-inline: 20%;
}
.content > p {
  padding-inline: 25%;
}
}
@media only screen and (min-width:1419px) {
  .Card-Grid{
    margin-inline: 18rem;
  }
}